/target
config.toml
!*.example

# macOS metadata
.DS_Store
**/.DS_Store
._*
**/*._*
.AppleDouble
.LSOverride

# IDUN setup for modules
# LEGACY
setup_env.*
build_hdf5.*
# IDUN identifier
.sys-idun

# Large files
cnn_model_weights/
atlases/

# Slurm jobs only for IDUN
slurm/

# planning/tracking notes
.planning/
